body {
	font-family: 'Raleway', 'Times New Roman', sans-serif;
	width: 100%;
	background-color: #ffffff; /*white*/
	margin: 0;
}

h2 {
	text-transform: uppercase;
}

/*#37474F dark blue background contact, apropos, loisirs
#2E7D32 dark green background H2 aside*/

/*header*/
header {
	text-align: center; /*desktop left*/
}

h1 em {
	font-style: normal;
}

header h1 {
	margin: 21px 0 0 0;
}

#prenom {
	font-weight: bold;
	color: #feca07; /*yellow*/
}

/*nav*/
nav {
    text-align: right;
    min-height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
    text-align: center;
    width: 100%;
    display: none;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #feca07; /*yellow*/
    line-height: 70px;
    display: block;
    margin: 0;
    width: 100%;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: block;
    text-align: right;
    cursor: pointer;
    width: 34px;
}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: block;
    background: #404040; /*grey*/
}

.menu a:active {
    background-color: #feca07; /*yellow*/
}

/*aside*/
aside {
	background-color: #feca07; /*yellow*/
	color: #404040; /*grey*/
}

aside h2 {
	background-color: #404040; /*grey*/
	color: #feca07; /*yellow*/
	text-align: center;
}

aside p {
	padding: 0 15px;
}

#about p {
	text-align: justify;
}

#hobbies {
	text-align: center;
	padding-bottom: 20px;
}

#hobbies i {
	font-size: 1.5em;
	margin-right: 5px;
	border: 2px solid #404040; /*grey*/
	border-radius: 35px;
	padding: 15px;
}

/*main text*/
main p, main h3 {
	padding: 0 15px;
}

main h2 {
	border-bottom: solid #feca07 2px; /*yellow*/
}

h2 i {
	color: #feca07; /*yellow*/
	padding: 0 15px;
}

.date {
	margin: 16px 0 0 0;
}

	.date i {
		padding: 0 3px;
		color: #feca07; /*yellow*/
	}

.where {
	margin: 0 0 16px 22px;
}

h3 {
	text-transform: uppercase;
	margin: 16px 0;
}

/*Media Queries*/
@media screen and (min-width: 768px) {
    header {
    	display: flex;
    }

    header .colonne_deux {
    	text-align: left;
    }

    header .colonne_une {
    	background-color: #feca07; /*yellow*/
    }

    .colonne_une, aside {
    	flex: 0.8;
    	margin: 0 40px 0 0;
    }

    .colonne_deux, main {
    	flex: 2;
    }

    .parent_aside_main, .parent_colonnes {
    	display: flex;
    }

    .colonne_une_references, .colonne_deux_references {
    	flex: 1;
    }
}